.box, .p-dialog-content {
  display: flex;
}

.box {
  padding:5px 0;
  flex-direction: row;
  gap: 10px;
}

.p-dialog-content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}